<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Thông tin trọ thuê</title>
    <block th:replace="~{/fragment/app-fragment :: head-resource}"></block>
    <link rel="stylesheet" th:href="@{/css/detail-rent.css}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
<header th:replace="~{/fragment/app-fragment :: header}"></header>

<div class="modal fade" id="modal-delete-cmt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xóa bình luận</h3>
                <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn xóa bình luận này của bạn không ?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-cmt">Xóa</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-cmt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Chỉnh sửa bình luận</h3>
                <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <form class="row col-12">
                    <div class="form-group col-12">
                        <label for="edit_cmt" class="col-form-label"><strong>Bình luận </strong></label>
                        <input type="text" class="form-control" id="edit_cmt" placeholder="Bình luận"
                               required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class=" col-md-6 row justify-content-start ml-2">
                        <div class="rate" id="edit-rate">
                            <div class="invalid-tooltip"></div>
                            <input type="radio" id="edit-star5" name="rate" value="5"/>
                            <label for="edit-star5" data-bs-toggle="tooltip" data-bs-placement="top" title="Rất tốt">5
                                stars</label>
                            <input type="radio" id="edit-star4" name="rate" value="4"/>
                            <label for="edit-star4" data-bs-toggle="tooltip" data-bs-placement="top" title="Tốt">4
                                stars</label>
                            <input type="radio" id="edit-star3" name="rate" value="3"/>
                            <label for="edit-star3" data-bs-toggle="tooltip" data-bs-placement="top" title="Tạm ổn">3
                                stars</label>
                            <input type="radio" id="edit-star2" name="rate" value="2"/>
                            <label for="edit-star2" data-bs-toggle="tooltip" data-bs-placement="top" title="Tồi">2
                                stars</label>
                            <input type="radio" id="edit-star1" name="rate" value="1"/>
                            <label for="edit-star1" data-bs-toggle="tooltip" data-bs-placement="top" title="Rất tồi">1
                                star</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-edit-cmt">Gửi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-rent" tabindex="-1"
     aria-labelledby="delete-project" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="delete">Xác nhận thao tác</h3>
                <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="content-rent">Bạn có chắc chắn muốn yêu cầu thuê trọ này không ?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn-submit-rent">Gửi yêu cầu</button>
            </div>
        </div>
    </div>
</div>

<main id="main">
    <section id="map" class="map-google" style="height: 250px; margin-top: 10px;">
        <div class="container w-100 h-100">
            <div class="row w-100 h-100 m-0">
                <div class="map" id="show-map" style="height: 100%; width: 100%;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.640819290283!2d105.840947314955!3d21.007030293895557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac76ccab6dd7%3A0x55e92a5b07a97d03!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6FjaCBraG9hIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1617498150115!5m2!1svi!2s"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row" id="featuredsproducts">
            <div class="block-detail" id="blockItemDetail">
                <div class="item-product detail-product add-id-cart row">
                    <div class="img-product dt-img-pr col-lg-5 col-md-6 col-12">
                        <img id="zoom_03" class="p-2" th:src="@{./files/image_config/213474521.jpg}" alt="">
                        <div id="gallery_01" class="row justify-content-between">
                            <img th:src="@{./files/image_config/213474521.jpg}" alt="">
                            <img th:src="@{./files/image_config/213532490.jpg}" alt="">
                            <img th:src="@{./files/image_config/213532578.jpg}" alt="">
                            <img th:src="@{./files/image_config/213532581.jpg}" alt="">
                        </div>
                    </div>
                    <div class="name-product dt-name-pr col-lg-7 col-md-6 col-12">
                        <div class="fp__wapper p-2" id="info-basic">
                            <span class="fp__cap">Phòng trọ gần BK</span>
                            <i class="fp__price">
                                1.500.000 VNĐ/tháng
                            </i>
                            <p class="text-secondary" style="font-size: var(--font-16);">Vị trí gần trường học, gần chợ,
                                tiện cho việc đi lại. Không gian thoáng mát, yên tĩnh. Chủ nhà thân thiện tốt tính</p>

                            <button class="fp__label click-add-cart btn" data-id="14" id="btn-rent"> Yêu cầu thuê
                            </button>
                        </div>
                        <div class="dt-danhmuc p-2">
                            <div class="dt-dm-left">
                                <ul>
                                    <li class="p-1">
                                        <span><strong>Danh mục: </strong></span>
                                        <span class="badge bg-success text-white" id="category">Phòng trọ đơn</span>
                                    </li>
                                    <li class="p-1">
                                        <span><strong>Tiện ích: </strong></span>
                                        <div class="property_tag text-white" id="convenient">
                                            <span class="badge bg-primary">Tủ lạnh</span>
                                            <span class="badge bg-primary">Máy giặt</span>
                                            <span class="badge bg-primary">Điều hòa</span>
                                        </div>
                                    </li>
                                    <li><span class="p-1"><strong>Share: </strong></span>
                                        <div class="property_share" id="share">
                                            <a th:href="@{https://www.facebook.com/sharer/sharer.php?u=http://localhost:8080/thong-tin-thue?id_room=1}"
                                               title="chia sẻ trên Facebook" class="sicons"><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a th:href="@{https://twitter.com/share?text=Phòng trọ&amp;url=http://localhost:8080/thong-tin-thue?id_room=1}"
                                               title="chia sẻ trên Twitter" class="sicons"><i
                                                    class="fab fa-twitter"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end detail -->
    <div class="container-fluid mx-auto">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
                <div class="card p-3">
                    <div class="row justify-content-left d-flex justify-content-center align-items-center">
                        <div class="col-lg-4 d-flex flex-column">
                            <div class="rating-box row flex-column justify-content-center align-items-center" id="rate">
                                <h1 class="text-center p-0">4.0/5</h1>
                                <p class="text-center">(12)</p>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="rating-bar0 justify-content-center">
                                <table class="text-left mx-auto">
                                    <tr>
                                        <td class="rating-label">Rất tốt</td>
                                        <td class="rating-bar">
                                            <div class="bar-container">
                                                <div class="bar-5" id="bar-5"></div>
                                            </div>
                                        </td>
                                        <td class="text-right" id="num-bar-5">123</td>
                                    </tr>
                                    <tr>
                                        <td class="rating-label">Tốt</td>
                                        <td class="rating-bar">
                                            <div class="bar-container">
                                                <div class="bar-4" id="bar-4"></div>
                                            </div>
                                        </td>
                                        <td class="text-right" id="num-bar-4">23</td>
                                    </tr>
                                    <tr>
                                        <td class="rating-label">Tạm ổn</td>
                                        <td class="rating-bar">
                                            <div class="bar-container">
                                                <div class="bar-3" id="bar-3"></div>
                                            </div>
                                        </td>
                                        <td class="text-right" id="num-bar-3">10</td>
                                    </tr>
                                    <tr>
                                        <td class="rating-label">Tồi</td>
                                        <td class="rating-bar">
                                            <div class="bar-container">
                                                <div class="bar-2" id="bar-2"></div>
                                            </div>
                                        </td>
                                        <td class="text-right" id="num-bar-2">3</td>
                                    </tr>
                                    <tr>
                                        <td class="rating-label">Rất tồi</td>
                                        <td class="rating-bar">
                                            <div class="bar-container">
                                                <div class="bar-1" id="bar-1"></div>
                                            </div>
                                        </td>
                                        <td class="text-right" id="num-bar-1">0</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
                <figure class="highcharts-figure mb-4">
                    <div id="content-chart" class="chart"></div>
                </figure>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="row">
            <div class="block-tab-detail col-12" id="info-prduct-detail">
                <div class="tabpanel tab-v2">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nv-tab">
                        <li role="presentation" class="active ">
                            <a class="btn text-white">Thông tin sản phẩm</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content tab-ct-v2">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="title-tab">
                                <span>Thông tin sản phẩm</span>
                            </div>
                            <div class="t-content text-secondary" style="font-size:  var(--font-16);">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"><strong>Số người hiện
                                                tại: </strong></label>
                                            <span id="person_in">1</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"><strong>Số người tối đa: </strong></label>
                                            <span id="max_person">2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"><strong>Diện tích: </strong></label>
                                            <span id="area">20m<sup>2</sup></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"><strong>Đối tượng ưu
                                                tiên: </strong></label>
                                            <span id="priority-object"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"><strong>Ngày khởi tạo: </strong></label>
                                            <span id="create-date">12/09/2020</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"><strong>Ngày chỉnh sửa: </strong></label>
                                            <span id="modify-date">13/09/2020</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <strong><label class="form-control-label">Số người hiện đang yêu cầu
                                                thuê: </label>
                                                <span id="person_req">1</span>
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"><strong>Cách bạn: </strong></label>
                                            <span id="distance">1.5km</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"><strong>Số tầng: </strong></label>
                                            <span id="floor">3</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label"><strong>Địa chỉ: </strong></label>
                                            <span id="address">Số 6, ngách 106, ngõ gốc đề</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-data mt-3 mb-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover bg-white pt-2 pb-2">
                                            <caption>Thông tin chủ trọ</caption>
                                            <thead>
                                            <tr class=" text-success">
                                                <th colspan="6">Thông tin chủ trọ</th>
                                            </tr>
                                            <tr>
                                                <th scope="col">Tên</th>
                                                <th scope="col">Ảnh</th>
                                                <th scope="col">SĐT</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Nghề nghiệp</th>
                                                <th scope="col">Thông tin chủ trọ</th>
                                            </tr>
                                            </thead>
                                            <tbody id="table-host">
                                            <tr>
                                                <th scope="row">11</th>
                                                <td>Mark</td>
                                                <td>Mark</td>
                                                <td>Mark</td>
                                                <td>Mark</td>
                                                <td>
                                                    <button type="button" class="btn btn-warning update-progress"
                                                            data-toggle="modal" data-target="#modal-employee-progress">
                                                        <i class="fas fa-edit"></i> Xem
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <table class="table table-bordered table-hover bg-white pt-2 pb-2">
                                            <caption>Thông tin người hiện đang thuê</caption>
                                            <thead>
                                            <tr class="text-primary">
                                                <th colspan="6">Thông tin người hiện đang thuê</th>
                                            </tr>
                                            <tr>
                                                <th scope="col">Tên</th>
                                                <th scope="col">Ảnh</th>
                                                <th scope="col">SĐT</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Nghề nghiệp</th>
                                                <th scope="col">Quê quán</th>
                                            </tr>
                                            </thead>
                                            <tbody id="table-person-in">
                                            <tr>
                                                <th scope="row">11</th>
                                                <td>Mark</td>
                                                <td>Mark</td>
                                                <td>Mark</td>
                                                <td>Mark</td>
                                                <td>Mark</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end info-->
    <section class="content-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <form class="form-post row flex-wrap">
                        <h3 class="col-12 pl-3"><strong>Bình luận mới</strong></h3>
                        <fieldset class="col-12">
                            <div class="row">
                                <div class="col-sm-3 col-lg-2 hidden-xs">
                                    <img class="" style="max-width: 100px"
                                         th:src="@{https://bootdey.com/img/Content/avatar/avatar1.png}"
                                         alt="" id="avatar-cmt">
                                </div>
                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                    <label for="message"></label>
                                    <textarea class="form-control" id="message" placeholder="Nội dung..."
                                              required=""></textarea>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </fieldset>
                        <div class=" col-sm-9 row justify-content-start ml-2">
                            <div class="rate">
                                <div class="invalid-tooltip"></div>
                                <input type="radio" id="star5" name="rate" value="5"/>
                                <label for="star5" data-bs-toggle="tooltip" data-bs-placement="top" title="Rất tốt">5
                                    stars</label>
                                <input type="radio" id="star4" name="rate" value="4"/>
                                <label for="star4" data-bs-toggle="tooltip" data-bs-placement="top" title="Tốt">4
                                    stars</label>
                                <input type="radio" id="star3" name="rate" value="3"/>
                                <label for="star3" data-bs-toggle="tooltip" data-bs-placement="top" title="Tạm ổn">3
                                    stars</label>
                                <input type="radio" id="star2" name="rate" value="2"/>
                                <label for="star2" data-bs-toggle="tooltip" data-bs-placement="top" title="Tồi">2
                                    stars</label>
                                <input type="radio" id="star1" name="rate" value="1"/>
                                <label for="star1" data-bs-toggle="tooltip" data-bs-placement="top" title="Rất tồi">1
                                    star</label>
                            </div>
                        </div>
                        <div class="col-sm-3 row justify-content-end">
                            <button type="button" class="btn btn-success" id="btn-save-cmt">Gửi</button>
                            <div class="invalid-feedback"></div>
                        </div>

                    </form>

                    <h3 id="number-cmt">1 Comments</h3>

                    <!-- COMMENT 1 - START -->
                    <div id="comments">
                        <div class="media p-2 row justify-content-center align-items-center">
                            <a class="media col-md-2 mx-auto row flex-column justify-content-center align-items-center">
                                <img class="media-object" th:src="@{https://bootdey.com/img/Content/avatar/avatar1.png}"
                                     alt="">
                                <div class="text-center">
                                    <p class="text-left ">
                                        <span class="fa fa-star star-active"></span>
                                        <span class="fa fa-star star-active"></span>
                                        <span class="fa fa-star star-active"></span>
                                        <span class="fa fa-star star-active"></span>
                                        <span class="fa fa-star star-inactive"></span></p>
                                </div>
                            </a>
                            <div class="media-body col-md-10 mx-auto row">
                                <h4 class="media-heading col-12">John Doe</h4>
                                <p class="col-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
                                    dolor sit amet,
                                    consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit.</p>
                                <ul class="list-unstyled list-inline media-detail col-sm-6 row">
                                    <li><i class="fa fa-calendar pr-1"></i>27/02/2014</li>
                                </ul>
                                <ul class="list-unstyled list-inline media-detail col-sm-6 row justify-content-end">
                                    <li class=""><a th:href="@{#}">Chỉnh sửa</a></li>
                                    <li class=""><a th:href="@{#}">Xóa</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- COMMENT 1 - END -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- end main -->
<section th:replace="~{/fragment/app-fragment :: mail-area}"></section>
<footer th:replace="~{/fragment/app-fragment :: footer-user}"></footer>
<footer th:replace="~{/fragment/app-fragment :: alert-foot}"></footer>
<script th:src="@{/js/pages/ajax_page_detail_rent.js}"></script>
<script th:src="@{/js/model/ajax_model_report.js}"></script>
<script th:src="@{/js/model/ajax_model_tenant.js}"></script>
<script th:src="@{/js/model/ajax_model_motel_room.js}"></script>
</body>
</html>